<!DOCTYPE HTML>
<html lang="en_US">
	<head>
		<meta charset="UTF-8" />
		<title>/Reg{2,}ie/ - The practical online regex tester by flatLand!</title>

		<link rel="stylesheet" media="all" href="/styles/styles.css" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<span id="top_background"></span>
		<div id="top" class="row-fluid">
			<div id="titlebox" class="span3">
				<h1>/Reg{2,}ie/</h1>
			</div>
			<form action="javascript:void(0);" class="span9">
				<fieldset>
					<div id="field">
						<span>/</span>
						<input type="text" id="regex" name="regex" placeholder="regex" autofocus="autofocus" autocomplete="off" />
						<span>/</span>
						<input type="text" id="flags" name="flags" placeholder="flags" autocomplete="off" />
						<div class="tools">
							<a href="javascript:void(0);" class="btn btn-success" id="reload" title="reload">&#61473;<span>reload</span></a>
							<a href="javascript:void(0);" class="btn btn-info disabled" id="save" title="save">&#61639;<span>save</span></a>
							<a href="javascript:void(0);" class="btn btn-info disabled" id="share" title="save">&#61509;<span>share</span></a>
						</div>
					</div>
					<div id="engine">
						<label>Regex Engine: </label>
						<div class="btn-group">
							<button id="js" class="btn active">javascript</button>
							<button id="php" class="btn">PHP</button>
							<!--button id="ruby" class="btn">ruby</button-->
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div id="directory_container">
			<div id="directory">
				<h2>Regexes</h2>
				<p>
					Coming soon: saving regexes with LocalStorage...
				</p>
				<!--ul>
					<li id="add">
						<a href="javascript:void(0);">
							<span>New Regex...</span>
						</a>
					</li>
					<li class="unsaved">
						<a href="javascript:void(0);">
							<span>Unnamed Regex</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span>Named Regex</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<span>Ridiculously Long-named Regex</span>
						</a>
					</li>
					<li class="active">
						<a href="javascript:void(0);">
							<span class="regex">/Reg{2,}ie/</span>
						</a>
					</li>
					<li class="unsaved">
						<a href="javascript:void(0);">
							<span>Unnamed Regex</span>
						</a>
					</li>
				</ul-->
			</div>
		</div>
		<div id="sources_container">
			<div id="sources">
				<h2>Test Strings</h2>
				<div id="source"></div>
			</div>
		</div>
		<div id="results_container">
			<div id="results" class="span4">
				<span id="fente"></span>
				<span id="fente_shadow"></span>
				<div id="paper">
					<div id="paper_content">
						<p id="matches_amount"></p>
						<ol id="matches"></ol>
						<p id="error">
							<strong>Error</strong>
							<span>Text of error</span>
						</p>
						<p id="no_matches">
							No matches
						</p>
						<p id="waiting">
							Processing...
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="quick_reference">
			<h2>Regex Quick Reference</h2>
			<hr />
			<div class="lists">
				<ul>
					<li><code>[abc]</code> <span>A single character of: a, b or c</span></li>
					<li><code>[^abc]</code>	<span>Any single character except: a, b, or c</span></li>
					<li><code>[a-z]</code> <span>Any single character in the range a-z</span></li>
					<li><code>[a-zA-Z]</code> <span>Any single character in the range a-z or A-Z</span></li>
					<li><code>^</code> <span>Start of line</span></li>
					<li><code>$</code> <span>End of line</span></li>
					<li><code>\A</code> <span>Start of string</span></li>
					<li><code>\z</code> <span>End of string</span></li>
				</ul>
				<ul>
					<li><code>.</code> <span>Any single character</span></li>
					<li><code>\s</code>	<span>Any whitespace character</span></li>
					<li><code>\S</code>	<span>Any non-whitespace character</span></li>
					<li><code>\d</code>	<span>Any digit</span></li>
					<li><code>\D</code>	<span>Any non-digit</span></li>
					<li><code>\w</code>	<span>Any word character (letter, number, underscore)</span></li>
					<li><code>\W</code>	<span>Any non-word character</span></li>
					<li><code>\b</code>	<span>Any word boundary character</span></li>
				</ul>
				<ul>
					<li><code>(...)</code>	<span>Capture everything enclosed</span></li>
					<li><code>(a|b)</code>	<span>a or b</span></li>
					<li><code>a?</code>	<span>Zero or one of a</span></li>
					<li><code>a*</code>	<span>Zero or more of a</span></li>
					<li><code>a+</code>	<span>One or more of a</span></li>
					<li><code>a{3}</code>	<span>Exactly 3 of a</span></li>
					<li><code>a{3,}</code>	<span>3 or more of a</span></li>
					<li><code>a{3,6}</code>	<span>Between 3 and 6 of a</span></li>
				</ul>
			</div>
		</div>

		<div id="bottom" class="row-fluid">
			<div class="left span6">&nbsp;</div>
			<div class="right span6">
				<a href="javascript:void(0);" id="toggle_reference" class="btn btn-inverse">
					RegExp Quick Reference
				</a>
			</div>
		</div>

		<script src="/js/ace/ace.js"></script>
		<script src="/js/script-min.js"></script>
	</body>
</html>
